.answerBlock {
    font-size: 2vh;
    background-color: #ADD8E6;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 5px 5px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
}

.questionBlock {
    font-size: 2vh;
    background-color: #0987b4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-left: 40px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.question {
    width: 50vw;
}
.explain {
    font-size: 2vh;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px 10px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.questions {
    display: flex;
}
.questionBlock:hover {
    transform: scale(1.1);
}
.answerBlock:hover {
    transform: scale(1.1);
}
@keyframes shake {
    0% {
        transform: translateX(5px)
    }
    25% {
        transform: translateX(-5px)
    }
    50% {
        transform: translateX(5px)
    }
    75% {
        transform: translateX(-5px)
    }
    100% {
        transform: translateX(5px)
    }
}
.questionBlock:active {
    animation: shake  1s infinite;
}
.questions h2 {
    margin: 20px;
}
.result {
     text-align: center;
}